/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
}
input {
  padding: 10 95 10 20;
  margin-top: 15;
  margin-left: 8;
  border-radius: 10px;
  border: none;
}
.list-item {
  list-style: none;
  padding-top: 1em;
  color: #ffffff;
}
.container {
  width: 100%;
  height: 100%;
  display: flex;
}
.header {
  /* height: 10%; */
  background-color: #118551;
  text-align: center;
}
.sidebar {
  width: 20%;
  background-color: #ffd747;
}
#map {
  width: 80%;
}
#title {
    font-family: 'Raleway', sans-serif;
    color: #ffffff;
    padding-top: 1%;
    padding-bottom: 1%;
}
